# Object files
*.o
*.ko
*.obj
*.elf
*.d
*.TMP
*.bak
*.zip
*.pdf
logs/
Backup/
archive*/
archive/
Lib/
DSP_Lib/
firmware/SMARTLIGHT_MBED/BUILD/*
firmware/VT_SMARTLIGHT/MDK-ARM/_build/*
firmware/VT_SMARTLIGHT_STM32F4/MDK-ARM/VT_SMARTLIGHT_STM32F4/*
firmware/VT_SMARTLIGHT_STM32F4/Drivers/CMSIS/Lib/*
firmware/VT_SMARTLIGHT_BOOT/MDK-ARM/VT_SMARTLIGHT_STM32F4/*
firmware/VT_SMARTLIGHT_BOOT/Drivers/CMSIS/Lib/*
firmware/VT_SMARTLIGHT_BOOT/Drivers/CMSIS/DSP_Lib/*
firmware/VT_SMARTLIGHT_BOOT/Drivers/CMSIS/RTOS/*
firmware/VT_SMARTLIGHT_BOOT_V1_1_SIM800/MDK-ARM/VT_SMARTLIGHT_STM32F4/*
firmware/VT_SMARTLIGHT_BOOT_V1_1_SIM800/Drivers/CMSIS/Lib/*
firmware/VT_SMARTLIGHT_BOOT_V1_1_SIM800/Drivers/CMSIS/DSP_Lib/*
firmware/VT_SMARTLIGHT_BOOT_V1_1_SIM800/Drivers/CMSIS/RTOS/*
firmware/backup/*
firmware/VT_POWER_SENSOR/build/uv_5_1/projects/mk341ph/Release/*
firmware/VT_SMARTLIGHT_STM32F4_LWIP_V2/MDK-ARM/VT_SMARTLIGHT_STM32F4/*
firmware/VT_SMARTLIGHT_STM32F4_LWIP_V2/Drivers/CMSIS/Lib/*
firmware/VT_SMARTLIGHT_STM32F4_LWIP_V1_1_SIM800/MDK-ARM/VT_SMARTLIGHT_STM32F4/*
firmware/VT_SMARTLIGHT_STM32F4_LWIP_V1_1_SIM800/Drivers/CMSIS/Lib/*