# Object files
*.o
*.ko
*.obj
*.elf
*.d
*.TMP
*.bak
*.zip
*.pdf
logs/
Backup/
archive*/
archive/
DSP_Lib/
Release/*
RTOS/*
CMSIS/Lib/*
T_SMARTLIGHT_STM32F4/*
firmware/backup/*
firmware/SMARTLIGHT_MBED/BUILD/*
_build/*
firmware/VT_SMARTLIGHT_BOOT/Drivers/CMSIS/Lib/*
firmware/VT_SMARTLIGHT_BOOT_V1_1_SIM800/Drivers/CMSIS/Lib/*
firmware/VT_SMARTLIGHT_STM32F4/Drivers/CMSIS/Lib/*
firmware/VT_SMARTLIGHT_STM32F4_LWIP_V1_1_SIM800/Drivers/CMSIS/Lib/*
firmware/VT_SMARTLIGHT_STM32F4_LWIP_V2/Drivers/CMSIS/Lib/*